body{
    background-color: #e8631c;
    font-family: Verdana, sans-serif;
}
.container{
    background-color: #303030;
    padding: 10px;
    display: flex;
    color: white;
}
.item{
    flex-direction: column;
    margin-left: 15px;
    padding: 5px 2px;
}
.logo{
    margin-right: 30px;
}
.menu{
    display: none;
}
.item a{
    text-decoration: none;
    color: white;
}
.item:hover{
    background-color: rgb(90, 226, 136);
    border-radius: 5px;
    cursor: pointer;
}
.menu-img{
    width: 30px;
    height: 30px;
}
@media only screen and (max-width:500px){
    .item{
        display: none;
    }
    .logo{
        display: block;
    }
    .menu{
        display: block;
        position: relative;
        left: 20vh;
    }

}
