body{
    background-color: #e8631c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand{
    margin-left: 20px;
}
.bi-search{
    color: white;
    margin-right: 20px;
}
.home{
    width: 100%;
    height: 738px;
    background-image: url(/home.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}
.home-title{
    position: relative;
    top: 320px;
    left: 25px;
    color: white;
    font-size: 80px;
    font-weight: bold;
}
.home-text{
    position: relative;
    top: 330px;
    left: 30px;
    color: white;
    font-size: 30px;
}
.register-btn{
    position: relative;
    width: 200px;
    top: 350px;
    left: 30px;
    background-color: #e8631c;
    color: white;
    font-size: 20px;
}
@media screen and (max-width:576px) {
    .home-title{
        position: relative;
        top: 116px;
        left: 0;
        font-size: 32px;
        font-weight: bold;
    }
    .home-text{
        position: relative;
        top: 113px;
        left: 4px;
        font-size: 12px;
    }
    .register-btn{
        position: relative;
        width: 148px;
        top: 98px;
        left: 5px;
        font-size: 12px;
    }
}