body{
    background-color: #e7631c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar-brand{
    margin-left: 20px;
}
.bi-search{
    color: white;
    margin-right: 20px;
}
.home{
    background-image: url(/home.jpg);
    width: 100%;
    height: auto;
    text-align: center;
    color: white;
    background-size: cover;
    background-repeat: no-repeat;
}
.tour-title{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 25px;
    margin-top: 20px;
    color: white;
}
.tour-text{
    font-size: 20px;
    text-align: center;
    color: white;
}
.tour-card{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    color: white;
    text-align: center;
}
.tr-bg
{
    background-color: #303030;
}
.tr-txt{
    margin-top: 20px;
}
.prize-card{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    height: 400px;
    color: white;
    text-align: center;
}
.prize{
    background-color: #303030;
    margin-top: 30px;
}
.prizec{
    width: 30%;
    height: 330px;
    border-radius: 5px ;
}
.pr-bg
{
    background-color: #e7631c;
}
.pr-txt{
    margin-top: 50px;
}
.pr{
    background-color: #303030;
    padding: 10px;
    margin: 0 20px;
    border-radius: 5px;
}
.bi-award{
    font-size: 100px;
}
.card
{
    background-color: #e8631c;
    border: none;
    color: white;
}
.card-body
{
    text-align: center;
}
.card-title{
    font-size: 50px;
}
.sts{
    background-color: #303030;
    color: white;
    text-align: center;
    width: 100%;
}
.sts-title{
    font-size: 50px;
    padding-top: 60px;
    font-weight: bold;
}
.sts-text{
    padding: 40px 10px;
}
.sts-count{
    padding: 30px;
}
.name{
    background-image: url(/card4.jpg);
    width: 100%;
    height: auto;
    color: white;
}
.name-text{
    text-align: center;
    padding-top: 250px;
    margin: 0 100px;
}
.name-title{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 400px;
}
.subs{
    background-color: #e7631c;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}
.subs-title{
    padding: 30px 0;
}
.subs-text{
    padding: 30px;
    
}
.subs-t-box{
    width: 30%;
    padding: 5px 9px;
}
.subs-btn{
    position: relative;
    padding: 6px 50px;
    left: -10px;
    background-color: #303030;
    color: white;
}
.footer
{
    background-color: #303030;
    padding: 30px;
    color: white;
    width: 100%;
}
.footer a{
    text-decoration: none;
    color: white;
    display: block;
}
.foot-h{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 30px;
}
a:hover{
    color: sandybrown;
}
.icon{
    font-size: 20px;
    padding: 0 10px;
}
.icon a{
    display: inline;
}
.bi:hover{
    color: sandybrown;
}
.navbar a:hover{
    color: sandybrown;
}
@media screen and (max-width:576px) {
    .tour-title{
        font-size: 30px;
    }
    .tour-text{
        font-size: 15px;
    }
    .tour-card,.prize-card{
        display: block;
        margin-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .prizec{
        width: 100%;
        margin-bottom: 50px;
    }
    .prize-card{
        height: 1150px;
    }
    .pr{
        margin: 30px;
    }
    .subs-t-box{
        width: 50%;
        margin: 10px;
    }
    .subs-btn{
        left: -20px;
    }
}